langchain
langchain_openai 
langchain_core
python-dotenv
streamlit
langchain_community
langserve
langchain-ollama
chromadb
pypdf
beautifulsoup4
transformers
huggingface-hub
torch
torchvision
torchaudio
einops
langchain-huggingface
sentence-transformers